.userBox {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
    text-decoration: none;

}
.userBox:hover {
    background-color: #ebebeb;
}
.userInfo > h3,p {
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 15px;
}