.emptyBox {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    display: grid;
    place-items: center;
}
.emptyBox > h3 {
    font-weight: 400;
    color: #002F34;
}

.chat__box {
    margin-top: 10px;
    height: 73vh;
    width: 100%;
    display: inline-flex;
}

