.footer {
    width: 100%;
    margin-top: 10rem;
}
.footer__app {
    background-color: #F7F8F9;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
     
}
.footer__app > img {
    margin-left: 50px;
}
.app_text {
    width: 400px;
    margin-left: 20px;
    margin-right: 10px;
    align-items: center;
}
.app_text > * {
    color: #002F34;
}
.app_text > p {
    display: flex;
    font-weight: 500;
    min-width: 300px;
    font-size: larger;
    min-height: 100px;
}
.footer__store {
    display: inline;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.footer__store > img {
    justify-content: stretch;
    position: relative;
    width: 130px;
    height: 45px;
    padding: 5px;
}
.footer__store > h5 {
    color: #002F34;
    font-weight: medium;
    margin-left: 5px;
}
@media screen and (max-width: 1226px){
    /* .app_text {
        display: none;   
    } */
    .footer__app > img {
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        flex: 1;
    }
    .footer__store {
        flex: 1 ;
        flex-flow: initial;
    }
    
}
/* Footer main */

.footer__main {
    width: 100%;
    background-color: #EBEEEF;
    padding-bottom: 40px;
}
.Categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.sub_category {
    display: block;
    justify-content: space-evenly;
    margin: 5px;
}
.sub_category > h3 {
    font-weight: 600;
    color: #002F34;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.Footer_socialmedia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.sub_category > ul {
    padding: 0;
    list-style: none;
    margin: 8px 0 0;
}
.sub_category > ul > li {
    list-style-type: none;
    display: list-item;
    background-color: initial;
}
.sub_category > ul >li > a {
    text-decoration: none;
    border-bottom: none;
    font-size: 12px;
    font-weight: 400;
    color: #002F34;
}
.Footer__apps > img {
    display: inline-block;
    width: 86px;
    height: 26px;
    padding: 5px;
    justify-content: stretch;
}


/* Footer-end */

.footer-end {
    height: auto;
    width: 100%;
    background-color: #002F34;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    float: left;
    margin: 12px 50px;
}
.footer__copyright > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer__copyright > span:nth-child(1){
    font-weight: 700;
    padding-right: 8px;
}
.footer__othercountries {
    margin: 12px 90px;
}
.footer__othercountries > small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer__othercountries > small:nth-child(1){
    font-weight: 700;
    padding-right: 8px;
}

@media screen and (max-width: 890px){
    .footer-end {
        flex-direction: column;
    }
    .footer__othercountries {
        margin: 15px auto;

    }
    .footer__copyright {
        margin: 15px auto;
    }
}

